<div class="container mt-4" content-panel>
  <h2 class="mb-3">Contatos Cadastrados</h2>

  <div class="mb-3">
  <input type="text"
         class="form-control"
         placeholder="Pesquisar por nome..."
         (input)="pesquisar($event)" />
</div>

  <table class="table table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.id }}</td>
        <td>
      <i class="bi me-2"
         style="cursor: pointer;"
         [class.bi-star-fill]="contact.favorito"
         [class.bi-star]="!contact.favorito"
         [class.text-warning]="contact.favorito"
         (click)="toggleFavorito(contact)">
      </i>
      {{ contact.nome }}
    </td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.telefonePrimario }}</td>
        <td>{{ contact.categoria }}</td>
        <td>
          <a class="btn btn-primary btn-sm me-2" style="background-color: var(--cor-destaque); color: white;" [routerLink]="['/contatos/editar', contact.id]">Editar</a>
          <button class="btn btn-sm" style="background-color: #B03A2E; color: white;" (click)="deletar(contact.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!contacts || contacts.length === 0" class="alert alert-info mt-3">
    Nenhum contato encontrado. Clique em "Novo Contato" para adicionar!
  </div>

</div>
